- content_for :page_title do
  = user_signed_in? ? t('accounts.people_followed_by', name: display_name(@account)) : t('accounts.unavailable')

- content_for :header_tags do
  %meta{ name: 'robots', content: 'noindex' }/
  = render 'accounts/og', account: @account, url: account_followers_url(@account, only_path: false)

= render 'accounts/header', account: @account

- if not user_signed_in? || @account.blocking?(current_account)
  .nothing-here= t('accounts.unavailable')
- elsif @account.user_hides_network?
  .nothing-here= t('accounts.network_hidden')
- elsif @follows.empty?
  = nothing_here
- else
  .card-grid
    = render partial: 'application/card', collection: @follows.map(&:target_account), as: :account

  = paginate @follows
